h1 {
  text-align: center;
}

h1, p {
  color: #ffff;
  font-family: sans-serif;
}

body, section {
  background-color: #56a8ff;
}

.cards {
    width: 60px;
    height: 80px;
    background-color: red;
    margin: 5px;
    border-radius: 5%;
    cursor: pointer;
  }

.back {
    background:-webkit-repeating-linear-gradient(45deg,#fd0000,#ff0000 10px,#ce6c6c 0,#ce6c6c 20px);
    background:-o-repeating-linear-gradient(45deg,#fd0000,#ff0000 10px,#ce6c6c 0,#ce6c6c 20px);
    background:repeating-linear-gradient(45deg,#fd0000,#ff0000 10px,#ce6c6c 0,#ce6c6c 20px);
}

.front {
  background-color: white;
}

  #tableGame {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto auto;
  }

  #tableInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #tableInfo > div {
    width: 10%;
    text-align: center;
  }

  #tableInfo > div > p {
    display: inline-block;
  }

  p {
    font-size: 24px;
  }

.dispNone {
  display: none;
}

span {
  font-size: 35px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 5px;
}

.noClick {
  pointer-events: none;  
}

.checked {
  opacity: 0.5;
}